@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F8FF;
}

.container {
    background: tomato;
    width: 730px;
    margin: 144px auto 170px;
}

.mode-switcher {
    display: flex;
    justify-content: space-between;
    background: #fff;

}

.toggle {
    display: flex;
    align-items: center;
    gap: 16px;
}

.toggle h3 {
    text-transform: uppercase;
}